In [33]:
import pandas as pd

In [34]:
orders = pd.read_csv('orders_add.csv')

In [35]:
orders.head()

,order_id,store_id,channel_id,payment_order_id,delivery_order_id,order_status,order_amount,order_delivery_fee,order_delivery_cost,order_created_hour,...,order_moment_finished,order_metric_collected_time,order_metric_paused_time,order_metric_production_time,order_metric_walking_time,order_metric_expediton_speed_time,order_metric_transit_time,order_metric_cycle_time,Order Date,Delivered Date
0,85579237,3068,5,85579237,85579237,FINISHED,21.0,0.00,5.61,17,...,3/23/2021 17:43,2.15,0.68,21.08,5.08,5.77,14.88,41.73,3/8/2021 16:22,3/12/2021 5:53
1,86862263,3631,35,86862263,86862263,FINISHED,99.9,9.90,10.00,18,...,3/29/2021 19:07,NaN,5.18,26.77,4.68,9.87,23.58,60.20,9/5/2020 9:11,9/7/2020 22:30
2,77332755,616,15,77332755,77332755,FINISHED,27.0,3.99,10.61,22,...,2/12/2021 23:00,1.15,0.27,0.83,1.20,1.47,26.52,28.82,7/12/2020 15:00,7/16/2020 7:51
3,76366587,1037,5,76366587,76366587,FINISHED,113.7,11.90,10.56,23,...,2/8/2021 0:01,1.55,0.27,24.60,7.45,7.72,16.68,49.00,6/30/2021 10:36,7/4/2021 2:01
4,85895389,707,5,85895389,85895389,FINISHED,62.4,11.90,8.13,14,...,3/25/2021 15:30,1.23,2.98,17.50,3.85,6.83,23.88,48.22,4/5/2019 10:12,4/7/2019 18:12

In [36]:
orders['order Time'] = orders['Order Date'].map(lambda x : x.split(' ')[1])
orders['Order Date'] = orders['Order Date'].map(lambda x : x.split(' ')[0])
orders['Delivered Time'] = orders['Delivered Date'].map(lambda x : x.split(' ')[1])
orders['Delivered Date'] = orders['Delivered Date'].map(lambda x : x.split(' ')[0])

In [37]:
orders.head()

,order_id,store_id,channel_id,payment_order_id,delivery_order_id,order_status,order_amount,order_delivery_fee,order_delivery_cost,order_created_hour,...,order_metric_paused_time,order_metric_production_time,order_metric_walking_time,order_metric_expediton_speed_time,order_metric_transit_time,order_metric_cycle_time,Order Date,Delivered Date,order Time,Delivered Time
0,85579237,3068,5,85579237,85579237,FINISHED,21.0,0.00,5.61,17,...,0.68,21.08,5.08,5.77,14.88,41.73,3/8/2021,3/12/2021,16:22,5:53
1,86862263,3631,35,86862263,86862263,FINISHED,99.9,9.90,10.00,18,...,5.18,26.77,4.68,9.87,23.58,60.20,9/5/2020,9/7/2020,9:11,22:30
2,77332755,616,15,77332755,77332755,FINISHED,27.0,3.99,10.61,22,...,0.27,0.83,1.20,1.47,26.52,28.82,7/12/2020,7/16/2020,15:00,7:51
3,76366587,1037,5,76366587,76366587,FINISHED,113.7,11.90,10.56,23,...,0.27,24.60,7.45,7.72,16.68,49.00,6/30/2021,7/4/2021,10:36,2:01
4,85895389,707,5,85895389,85895389,FINISHED,62.4,11.90,8.13,14,...,2.98,17.50,3.85,6.83,23.88,48.22,4/5/2019,4/7/2019,10:12,18:12

In [38]:
orders['order Time Hour'] = orders['order Time'].map(lambda x : x.split(':')[0])
orders['Order Date Minute'] = orders['order Time'].map(lambda x : x.split(':')[1])
orders.drop(['order Time'],axis=1,inplace=True)
orders['Delivered Time Hour'] = orders['Delivered Time'].map(lambda x : x.split(':')[0])
orders['Delivered Date Minute'] = orders['Delivered Time'].map(lambda x : x.split(':')[1])
orders.drop(['Delivered Time'],axis=1,inplace=True)

In [39]:
orders.head()

,order_id,store_id,channel_id,payment_order_id,delivery_order_id,order_status,order_amount,order_delivery_fee,order_delivery_cost,order_created_hour,...,order_metric_walking_time,order_metric_expediton_speed_time,order_metric_transit_time,order_metric_cycle_time,Order Date,Delivered Date,order Time Hour,Order Date Minute,Delivered Time Hour,Delivered Date Minute
0,85579237,3068,5,85579237,85579237,FINISHED,21.0,0.00,5.61,17,...,5.08,5.77,14.88,41.73,3/8/2021,3/12/2021,16,22,5,53
1,86862263,3631,35,86862263,86862263,FINISHED,99.9,9.90,10.00,18,...,4.68,9.87,23.58,60.20,9/5/2020,9/7/2020,9,11,22,30
2,77332755,616,15,77332755,77332755,FINISHED,27.0,3.99,10.61,22,...,1.20,1.47,26.52,28.82,7/12/2020,7/16/2020,15,00,7,51
3,76366587,1037,5,76366587,76366587,FINISHED,113.7,11.90,10.56,23,...,7.45,7.72,16.68,49.00,6/30/2021,7/4/2021,10,36,2,01
4,85895389,707,5,85895389,85895389,FINISHED,62.4,11.90,8.13,14,...,3.85,6.83,23.88,48.22,4/5/2019,4/7/2019,10,12,18,12

In [41]:
orders.columns

Index(['order_id', 'store_id', 'channel_id', 'payment_order_id',
       'delivery_order_id', 'order_status', 'order_amount',
       'order_delivery_fee', 'order_delivery_cost', 'order_created_hour',
       'order_created_minute', 'order_created_day', 'order_created_month',
       'order_created_year', 'order_moment_created', 'order_moment_accepted',
       'order_moment_ready', 'order_moment_collected',
       'order_moment_in_expedition', 'order_moment_delivering',
       'order_moment_delivered', 'order_moment_finished',
       'order_metric_collected_time', 'order_metric_paused_time',
       'order_metric_production_time', 'order_metric_walking_time',
       'order_metric_expediton_speed_time', 'order_metric_transit_time',
       'order_metric_cycle_time', 'Order Date', 'Delivered Date',
       'order Time Hour', 'Order Date Minute', 'Delivered Time Hour',
       'Delivered Date Minute'],
      dtype='object')

In [45]:
colls = ['order_id','Order Date','Order Date', 'Delivered Date',
       'order Time Hour', 'Order Date Minute', 'Delivered Time Hour',
       'Delivered Date Minute']

In [46]:
compile = orders[colls]

In [47]:
compile.head()

,order_id,Order Date,Order Date,Delivered Date,order Time Hour,Order Date Minute,Delivered Time Hour,Delivered Date Minute
0,85579237,3/8/2021,3/8/2021,3/12/2021,16,22,5,53
1,86862263,9/5/2020,9/5/2020,9/7/2020,9,11,22,30
2,77332755,7/12/2020,7/12/2020,7/16/2020,15,00,7,51
3,76366587,6/30/2021,6/30/2021,7/4/2021,10,36,2,01
4,85895389,4/5/2019,4/5/2019,4/7/2019,10,12,18,12

In [48]:
compile.shape

(57521, 8)

In [49]:
compile.to_csv('orders_date.csv',index=False)